body {
  background-color: #777;
  font-family: 'Arial', 'Heletica Neue', Helvetica, sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

header {
  width: 960px;
  padding: 30px;
  margin: 10px;
  background-color: #ebebeb;
  color: #777;
}

nav {
  width: 960px;
  padding: 30px;
  margin: 10px;
  background-color: #ebebeb;
  color: #777;
}
main {
  width: 960px;
  display: flex;
  flex-direction: row;
}
section {
  width: 495px;
  height: 300px;
  padding: 30px;
  margin: 15px 10px 10px 10px;
  background-color: #ebebeb;
  color: #777;
}

article {
  width: 95%;
  height: 210px; 
  background-color: #777;
  color: #ebebeb;
  margin-top: 30px;
  margin-left: -20px;
  padding: 30px;
}

aside {
  width: 495px;
  height: 300px;
  padding: 30px;
  margin: 15px 10px;
  background-color: #ebebeb;
  color: #777;
}

footer {
  width: 960px;
  padding: 30px;
  margin: 10px;
  background-color: #ebebeb;
  color: #777;
  justify-content: center;
}

p {
  width: 100%;
  background-color: #ebebeb;
  color: #777;
}